---
# Only the main Sass file needs front matter (the dashes are enough)
parent: no-page
---
@charset "utf-8";


@import "config";
@import "base";
@import "sidebar";

.outer-container {
  @include outer-container;
  height: 100%;
  min-height: 400px;
}

.content {
  @include span-columns(8);
  @include omega();
  color: $text--color;
  background-color: $transparent-background-color;
  font-size: 0.8em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  height: 100% !important;
  max-width: 950px;
  padding-top: 13px;
  -webkit-box-shadow: 0px 2px 2px 2px $transparent-background-color;
  -moz-box-shadow: 0px 2px 2px 2px $transparent-background-color;
  box-shadow: 0px 2px 2px 2px $transparent-background-color;
  overflow: scroll;

  @include media($mobile) {
    @include span-columns(12);
  }
}

.tag, .flickr_user {
  display: none;
}

.plus-sign:before {
  content: "+ ";
}

.minus-sign:before {
  content: "- ";
}

.fb-comments {
  width: 100%;
}