---
# Only the main Sass file needs front matter (the dashes are enough)
parent: no-page
---
@charset "utf-8";


@import "config";
@import "base";
@import "sidebar";

.tag, .flickr_user {
  display: none;
}

.plus-sign:before {
  content: "+ ";
}

.minus-sign:before {
  content: "- ";
}

.fb-comments {
  width: 100%;
}

.content-background-holder {
  width: 100%;
  min-height: 100%;
  max-width: 950px;
  position: fixed;
  background-color: $transparent-background-color;
  z-index: -1;
  -webkit-box-shadow: 0px 2px 2px 2px $transparent-background-color;
  -moz-box-shadow: 0px 2px 2px 2px $transparent-background-color;
  box-shadow: 0px 2px 2px 2px $transparent-background-color;
}

.outer-container {
  @include outer-container;
  height: 100%;
}

.content-box {
  @include span-columns(8);
}

.content {
  color: $text--color;
  font-size: 0.8em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  min-height: 100%;
  max-width: 950px;
  padding-top: 13px;
}