{% assign sorted_pages = site.pages | sort: 'parent' %}
{% assign last_parent = "0" %}
{% assign in_loop = false %}
{% for page in sorted_pages %}

  {% if page.url == "/index.html" %}
  {% elsif page.url == "/pages/about.html" %}
  {% elsif page.parent == "no-page" %}
  {% elsif page.parent == "0" %}
    <li>
      <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
    </li>
  {% else %}
    {% if page.parent != last_parent %}
      {% if in_loop %}
          </div>
          </li>
        {% assign in_loop = false %}
      {% endif %}
       <li>
      <a href="#" class="js-accordion-trigger">{{ page.parent }}</a>
      <div class="submenu">
    {% endif %}
    <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a><br/>
    {% assign in_loop = true %}
    {% assign last_parent = page.parent %}
  {% endif %}
{% endfor %}
{% if in_loop %}
      </div>
       </li>
{% assign in_loop = false %}
{% endif %}