//THIS FILE SHOULD ONLY BE EDITED IN THE ORIGIN

html, body {
  height: 100%;
  color: $text--color;
  font-size: 1.2em;
  line-height: 1.2em;
  background-size: cover;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  @include transition(all 1s ease-in-out);
}

a {
  color: $link--color;
  text-decoration: none;
  font-weight: 200;

  &:hover {
    color: $link--color__hover;
    font-weight: 300;
  }
}

nav {
  line-height: 1.3em;
}

h1 {
  margin-top: 0em;
  padding-top: $padding-top;
  line-height: 0.94em;
  @include media($mobile) {
    padding-top: 20px;
  }
}

body {
  background-color: #000000;
}